body {
  background-color: aquamarine;
}

.cards {
  background-color: azure;
  width: 310px;
  text-align: center;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  box-shadow: 2px 2px 10px black;
}
.heading {
  background-color: rgba(16, 161, 245, 0.713);
  padding: 40px 20px 10px;
  font-family: sans-serif;
  text-align: center;
  width: 400px;
  height: 100px;
  color: white;
  font-size: 50px;
  margin-left: auto;
  margin-right: auto;
}
#emoji {
  font-size: 38px;
}
.container {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
}
